<div class="grid grid-cols-3 gap-4">
  @for (item of templates; track $index) {
    <ng-container
      [ngTemplateOutlet]="selector"
      [ngTemplateOutletContext]="{
        data: item,
      }"
    />
  }

  <a
    [href]="playStore"
    target="_blank"
    rel="noopener noreferrer"
    class="group rounded-md border border-border bg-surface-elevated flex flex-col justify-center items-center cursor-pointer text-[10px] select-none"
  >
    <span>More</span>
    <span class="font-bold">Templates</span>
  </a>
</div>

<!-- Templates -->
<ng-template let-data="data" let-clicked="clicked" #selector>
  <div
    class="group rounded-md border border-border bg-surface-elevated flex justify-between items-center cursor-pointer select-none"
    role="button"
    aria-role="button"
    [ngClass]="{
      'border-primary': state().template.id == data.id,
    }"
    [style.color]="state().template.theme.primaryColor"
    (click)="select(data)"
  >
    <!-- <img
      [src]="data.theme.template"
      width="1241"
      height="1754"
      [alt]="data.name"
      class="object-fill w-full h-full"
    /> -->

    <div class="object-fill w-full h-full" [innerHTML]="data.theme.template | safeHtml"></div>
  </div>
</ng-template>
