<div
  class="group rounded-2xl border border-border bg-surface-elevated flex flex-col"
>
  <!-- Discount -->
  <div
    class="flex justify-between items-center cursor-pointer px-6 py-4 select-none"
    role="button"
    aria-role="button"
    (click)="openDiscountForm()"
  >
    <div class="flex items-center gap-3">
      <ng-icon [svg]="lucideTicketPercent" size="24px" />
      <div class="flex flex-col">
        <p>Discount</p>
        <p class="text-sm text-secondary/50">{{ state().discount }}%</p>
      </div>
    </div>

    <div class="flex gap-2 items-center">
      <p class="text-sm bold">
        {{
          state().discountAmount
            | currency: state().currency.code : "symbol-narrow"
        }}
      </p>
      <ng-icon [svg]="lucideChevronRight" />
    </div>
  </div>
  <!-- Discount -->

  <!-- Tax -->
  <div
    class="flex justify-between cursor-pointer px-6 py-4 select-none"
    role="button"
    aria-role="button"
    (click)="addOrEditTax()"
    [class.items-center]="state().taxes.length === 0"
  >
    <div class="flex gap-3" [class.items-center]="state().taxes.length === 0">
      <ng-icon [svg]="lucideBadgePercent" size="24px" />
      <div class="flex flex-col">
        <p>Tax</p>

        <div class="flex flex-col gap-1">
          @if (state().taxes.length > 0) {
            @for (item of state().taxes; track $index) {
              <button
                type="button"
                class="text-sm text-secondary/50 text-left"
                (click)="
                  addOrEditTax({ tax: item, index: $index });
                  $event.stopPropagation()
                "
              >
                {{ item.name }} ({{ item.percentage }}%)
              </button>
            }
          } @else {
            <p class="text-sm text-secondary/50">0.0%</p>
          }
        </div>
      </div>
    </div>

    <div class="flex gap-2 items-center">
      <p class="text-sm bold">
        {{
          state().taxAmount | currency: state().currency.code : "symbol-narrow"
        }}
      </p>
      <ng-icon [svg]="lucideChevronRight" />
    </div>
  </div>
  <!-- Tax -->

  <!-- Shipping -->
  <div
    class="flex justify-between items-center cursor-pointer px-6 py-4 select-none"
    role="button"
    aria-role="button"
    (click)="openShippingForm()"
  >
    <div class="flex items-center gap-3">
      <ng-icon [svg]="lucideTruck" size="24px" />
      <p>Shipping</p>
    </div>

    <div class="flex gap-2 items-center">
      <p class="text-sm bold">
        {{
          state().shippingCost
            | currency: state().currency.code : "symbol-narrow"
        }}
      </p>
      <ng-icon [svg]="lucideChevronRight" />
    </div>
  </div>
  <!-- Shipping -->

  <div class="flex justify-between px-6 py-4 bg-primary rounded-b-2xl">
    <p class="text-sm bold">Total</p>
    <p class="text-sm bold">
      {{ state().total | currency: state().currency.code : "symbol-narrow" }}
    </p>
  </div>
</div>
