<div
  class="group rounded-2xl border border-border bg-surface-elevated flex flex-col"
>
  <!-- Header -->
  <div
    class="flex justify-between items-center px-6 py-4 cursor-pointer"
    role="button"
    aria-roledescription="Add item"
    (click)="addOrEditItem()"
  >
    <div class="flex gap-3">
      <div
        class="rounded-full w-[40px] h-[40px] bg-primary/30 flex items-center justify-center"
      >
        <ng-icon [svg]="lucideReceiptText" [size]="'20px'" />
      </div>

      <div class="flex flex-col">
        <p class="text-xs text-muted-foreground mb-0">Items</p>
        <p>Add Items</p>
      </div>
    </div>

    <ng-icon [svg]="lucidePlus" size="24px" />
  </div>
  <!-- Header -->

  <!-- Content -->
  <div class="flex flex-col flex-[1_1]">
    @for (item of state().items; track $index) {
      <div
        class="flex justify-between items-center px-6 py-4 cursor-pointer"
        role="button"
        aria-roledescription="Edit item"
        (click)="addOrEditItem({ item, index: $index })"
      >
        <div class="flex items-center gap-3">
          <div
            class="rounded-full w-[35px] h-[35px] bg-secondary/10 flex items-center justify-center"
          >
            <span class="text-sm">{{
              $index + 1 < 10 ? "0" + ($index + 1) : $index + 1
            }}</span>
          </div>
          <p class="text-sm">{{ item.description }}</p>
        </div>

        <div class="flex flex-col text-right">
          <p class="text-xs text-muted-foreground">
            {{ item.quantity }} x
            {{ item.price | currency: state().currency.code : "symbol-narrow" }}
          </p>
          <p class="text-sm bold">
            {{
              item.subtotal | currency: state().currency.code : "symbol-narrow"
            }}
          </p>
        </div>
      </div>
    }
  </div>
  <!-- Content -->

  <!-- Footer -->
  <div class="flex justify-between px-6 py-4 bg-primary rounded-b-2xl">
    <p class="text-sm bold">Subtotal</p>
    <p class="text-sm bold">
      {{ state().subtotal | currency: state().currency.code : "symbol-narrow" }}
    </p>
  </div>
  <!-- Footer -->
</div>
