<div
  class="group rounded-2xl border border-border bg-surface-elevated flex flex-col"
>
  <ng-container
    [ngTemplateOutlet]="button"
    [ngTemplateOutletContext]="{
      data: {
        title: 'Currency',
        icon: lucideBanknote,
        content: { type: 'text', value: state().currency.code },
      },
      clicked: toggleCurrency,
    }"
  />

  <ng-container
    [ngTemplateOutlet]="button"
    [ngTemplateOutletContext]="{
      data: {
        title: 'Payment Method',
        icon: lucideCreditCard,
        subtitle: state().paymentAccount?.description,
      },
      clicked: togglePayment,
    }"
  />

  <ng-container
    [ngTemplateOutlet]="button"
    [ngTemplateOutletContext]="{
      data: {
        title: 'Signature',
        icon: lucideSignature,
        content: { type: 'image', value: state().signature?.image },
      },
      clicked: toggleSignature,
    }"
  />

  <!-- <ng-container
    [ngTemplateOutlet]="button"
    [ngTemplateOutletContext]="{
      data: { title: 'Terms', icon: lucideNotepadText },
      clicked: toggleTerms,
    }"
  /> -->

  <div
    class="flex justify-between cursor-pointer px-6 py-4 select-none"
    [class.items-center]="!state().terms.length"
    role="button"
    aria-roledescription="Add term"
    (click)="addOrEditTerm()"
  >
    <div class="flex gap-3" [class.items-center]="!state().terms.length">
      <ng-icon [svg]="lucideNotepadText" size="24px" />
      <div class="flex flex-col">
        <p>Terms</p>
        <div class="flex flex-col gap-1">
          @for (term of state().terms; track $index) {
            <button
            aria-label="Add terms & conditions"
              class="text-left text-sm text-muted-foreground px-0"
              (click)="addOrEditTerm({ term, index: $index }); $event.stopPropagation()"
            >
              {{ term }}
            </button>
          }
        </div>
      </div>
    </div>

    <ng-icon [svg]="lucideChevronRight" />
  </div>
</div>

<ng-template let-data="data" let-clicked="clicked" #button>
  <div
    class="flex justify-between cursor-pointer px-6 py-4 select-none"
    [class.items-center]="!data.subtitle"
    role="button"
    aria-roledescription="Edit term"
    (click)="clicked()"
  >
    <div class="flex gap-3" [class.items-center]="!data.subtitle">
      <ng-icon [svg]="data.icon" size="24px" />
      <div class="flex flex-col">
        <p>{{ data.title }}</p>
        @if (data.subtitle) {
          <p class="whitespace-pre-line text-sm text-muted-foreground">
            {{ data.subtitle }}
          </p>
        }
      </div>
    </div>

    <div class="flex gap-2 items-center">
      @if (data.content?.value) {
        @switch (data.content?.type) {
          @case ("text") {
            <span>{{ data.content.value }}</span>
          }
          @case ("image") {
            <img
              [src]="data.content.value"
              [width]="data.content.width ?? 50"
              [height]="data.content.height ?? 30"
              alt=""
            />
          }
        }
      }
      <ng-icon [svg]="lucideChevronRight" />
    </div>
  </div>
</ng-template>
